POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=earthquake_db
POSTGRES_HOST=postgres

AIRFLOW_DB_NAME=airflow_db

AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=change-me
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin